@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');


*{
    margin: 0;
    padding: 0;
    color: gray;
}
main{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    
}

.Formulario{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-basis: 50%; 
    flex-direction: column;  
    
}
button{
    border: solid;
}
.todo{
    width: 50%;
}

.todo h1{
    font-size: 40px;
    font-weight: 500;
    color: black;
}

.pass{
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;
}
.pass a{
    color: black;
    text-decoration: none;
}
.pass div{
    color: black;
}

.check{
    margin-right: 5px;
}

.datos{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    
}

.datos input{
    padding: 8px;
    padding-right: 155px;
    border-radius: 5px; 
    border-color: gainsboro;
    border: solid;
}

.sign{
    display: flex;
    flex-direction: column;      
}

.sign button{
    padding: 8px;
    border-radius: 5px;
}

.black{
    background-color: black;
    color: white;
    border-color: black;
    margin-bottom: 20px;
    
}

.google{
    background-color: white;
    border-color: gray;
    margin-bottom: 40px;
    
}

.dont{
    display: flex;
    justify-content: center;
}
.dont a{
    
    color: black;
    text-decoration: none;   
}


.Fondo{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: end;
    background-image: url(1fondo.jpeg);
}
.foto{
    width: 100%;
}

.googlei{
    width: 18px;
}

.email{
    margin-bottom: 20px;
}

.resenia{
    display: flex;
    background-color: rgba(255, 255, 255, 0.431);
    opacity: 90%;  
    width: 85%;
    height: 40%;
    margin-bottom: 50px;
    flex-direction: column;
    backdrop-filter: blur(20px);
    border:solid 1px rgba(255, 255, 255, 0.315);
    
}

.resenia h1{
    font-size: 30px;    
    font-weight: 500;
    margin-left: 30px;
    color: white;
}

.largo{
    margin: 40px 20px;
}

.ultimo{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 30px;
}

.flechas{
    display: flex;
    justify-content: space-around;
    width: 15%;
    padding: 0px 30px;
}
.flechas button{
    border: none;
    background-color: transparent;
}

.flechas i{
    color: white;
}


.icon{
    font-size: 40px;
}

.stars{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-right: 30px;
}

.stars1 i{
    color: white;
}
.text p{
    color: white;
}